{% extends "layout.html" %}

{% block body %}
<div class="form-container">
    <h2>Log In</h2>
    <form action="/login" method="post">
        <input name="username" type="text" placeholder="Username" autofocus autocomplete="off" required>
        <input name="password" type="password" placeholder="Password" autocomplete="off" required>
        <button type="submit">Log In</button>
    </form>
    <p class="alt-link">Don't have an account? <a href="/register">Register</a></p>
</div>
{% endblock %}
