{% extends "layout.html" %}

{% block body %}
    <h1>
       Register!
    </h1>
    <br>
    <form action="/register" method="post">
        <div>
            <input name="username" type="text" autofocus autocomplete="off" placeholder="Username">
            <input name="ps1" type="password" autocomplete="off" placeholder="Enter Password">
        </div>
        <div>
            <input name="ps2" type="password" autocomplete="off" placeholder="Enter Password Again">
        </div>
        <button name="submit">Register</button>
    </form>
{% endblock %}
